<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <parameter name="cantProductos" value="10"/>
    <test verbose="2" preserve-order="true" name="restaurant test">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="groupTest"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="restaurantTest.AlmacenTest"></class>
        </classes>
    </test>
</suite>
